<h1>Pallivative Care</h1>
{{object.pallivative_phase}}
<h1>Blood Pressure</h1>
{{object.blood_pressure}}
<h1>Pulse</h1>
{{object.pulse}}
<h1>General Random Blood Sugar</h1>
{{object.general_random_blood_sugar}}
<h1>Personal Hygine</h1>
{{object.personal_hygine}}
<h1>Mouth Hygine</h1>
{{object.mouth_hygine}}
<h1>Public Hygine</h1>
{{object.public_hygine}}
<h1>Systemic Examination</h1>
{{object.systemic_examination}}
<h1>Patient at Peace</h1>
{{object.patient_at_peace}}
<h1>Pain</h1>
{{object.pain}}
<h1>Symptoms</h1>
{{object.symptoms}}
<h1>Note</h1>
{{object.note}}
<h1>Visit Schedule</h1>
{{object.visit_schedule}}